worldImages/Hidden-ServerNetherMap.png
worldImages/Hidden-ServerWorldMapImage.png
worldImages/NewHidden-WorldMapImage.png
worldImages/Revealing-ServerWorldMapImage.png
logs/
inputs/client/hypixel overnight - skyblock/172.65.245.94_25565-overworld-log-2022-07-09.txt
